<div class="row mb-3">
    <div class="col-md-8" style="text-align: left">
        <h2><img src="/icons/fist.png" style="width: 35px;"/>Fight : {{ fight.nameFighter1 }} Vs {{ fight.nameFighter2 }}</h2>
    </div>
    <div class="col-md-4 text-center">
        <a class="btn btn-lg btn-block btn-outline-danger" href="/fight/engage/{{ user }}/{{ fight.nameFighter2 }}">New Fight</a>
    </div>
</div>

<h3>And the winner is ... {{ fight.winner }}</h3>

<style>

    table tr:nth-child(odd){
        background-color: lightgrey;
    }
</style>

<table class="table">
    <thead>
        <tr style="background-color: darkgrey">
            <th scope="col">Round #</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for detail in details %}
            <tr>
                <th scope="row">{{ detail.round }}</th>
                <td>{{ detail.description }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>